
<%- include('./partials/header') %>

<div class="container">
    <h1 class="heading">About</h1>

    <div class="links">
        <a href="/">Weather</a>
        <a href="/about">About</a>
        <a href="/help">Help</a>
    </div>

    <img style="margin: 50px 20px; height: 200px; width: 300px;" src="https://wallpapercave.com/wp/wp2601077.png">
</div>

<div style="width: 80%; margin: 0 auto;">
    <p>Created by Yash Patel.</p>
</div>

<%- include('./partials/footer') %>
